<div class="accordion-item mx-3 my-1 border border-info">
  <h2 class="accordion-header" id="heading{{id}}">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapse{{id}}"
      aria-expanded="false"
      aria-controls="collapse{{id}}"
    >
      View comment by
      {{commentor_name}}
      on
      {{date_created}}
    </button>
  </h2>
  <div
    id="collapse{{id}}"
    class="accordion-collapse collapse hide"
    aria-labelledby="heading{{id}}"
    data-bs-parent="#accordionExample"
  >
    <div class="accordion-body">
      {{content}}
    </div>
    {{!-- comment delete buttons - front end --}}
    <div class="d-flex justify-content-start mt-2 mb-2">
      <button id="update-comment" class="btn btn-success mx-3">Update</button>
      <button id="delete-comment" class="btn btn-danger mx-3">Delete</button>
    </div>
  </div>
</div>

<script src='/js/updateComment.js'></script>